/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.book {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book img {
    max-width: 100%;
    border-radius: 5px;
}

.book h2 {
    font-size: 1.2em;
    margin: 10px 0 5px;
}

.book p {
    color: #555;
    font-size: 0.9em;
    margin: 0;
}

.small-text {
    font-size: 50%;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}

/* ヘッダー */
header {
    width: 100%;
    background-color: #4169e1;
    height: 80px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: frex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #4169e1;
    height: 80px;
}

.menu li {
    margin: 0;
}

.menu li a {
    display: black;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
}

.menu li a:hover {
    background-color: #365fbb;
}

/*　連絡フォーム */
.contact-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="title"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}


/* メディアクエリ */
@media (max-width: 1200px) {
    .book-grid {
        grid-template-columns: repeat(4, 1fr); /* 画面幅が1200px以下の場合、4列に変更 */
    }
}

@media (max-width: 992px) {
    .book-grid {
        grid-template-columns: repeat(3, 1fr); /* 画面幅が992px以下の場合、3列に変更 */
    }
}

@media (max-width: 768px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr); /* 画面幅が768px以下の場合、2列に変更 */
    }
}

@media (max-width: 576px) {
    .book-grid {
        grid-template-columns: 1fr; /* 画面幅が576px以下の場合、1列に変更 */
    }

    .book h2 {
        font-size: 1em; /* タイトルのフォントサイズを調整 */
    }

    .book p {
        font-size: 0.8em; /* 著者名のフォントサイズを調整 */
    }

    .small-text {
        font-size: 40%; /* small-textクラスのフォントサイズを調整 */
    }
}